html {
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
}

p, h2, table {
    color: rgb(38, 215, 228);
    font-family: 'Work Sans', sans-serif;
}

button {
    border: 1px solid #c022ff;
    font-size: 18px;
    border-radius: .25rem;
    color: rgb(108, 167, 172);
    background-color: #29003a;
    cursor: pointer;
    transition: all 200ms ease-out;
}

button:hover {
    color: #29003a;
    border: 1px solid rgb(108, 167, 172);
    background-color: rgb(108, 167, 172);
}

.container-main {
    display: grid;
    height: 100%;
    grid-template-columns: 100vw;
    grid-template-rows: 7.5% auto;
}

.container-UI {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

.container-UI .score-text {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    transform: translateX(-25%);
    margin: 0;
}

.container-UI .container-btns {
    height: 50%;
}
.container-UI .container-btns button {
    height: 100%;
    width: 8rem;
}

.container-UI .container-power-meter {
    --border-radius: .5rem;

    width: 20%;
    height: 50%;
    background-color: white;
    border-radius: var(--border-radius);
}

.container-UI .container-power-meter #power-meter {
    background-color: limegreen;
    display: inline-block;
    height: 100%;
    width: 0%;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

#game-canvas {
    width: 100%;
    height: 100%;
    align-self: center;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: crisp-edges;
}

#modal-backdrop {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0);
    transition: all 400ms ease-out;
}

.modal {
    opacity: 0;
    width: 30vw;
    height: 50vh;
    background-color: black;
    border: 2px solid #c022ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    transition: opacity 400ms ease-out;
}

#modal-results-screen h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

#modal-results-screen p {
    margin: 0;
    font-size: 28px;
    text-align: center;
}

#modal-results-screen button {
    padding: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

#modal-change-stats {
    width: 90vw;
    height: 80vh;
    padding: 1rem;
}

#modal-change-stats h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-stats {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: auto 70%;
    grid-template-rows: 15% auto;
    justify-items: center;
}

.container-stats .container-stats-meter {
    --border-radius: .5rem;

    width: 80%;
    transform: translateX(10%);
    height: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
}

.container-stats .container-stats-meter #stats-meter {
    background-color: limegreen;
    display: inline-block;
    height: 100%;
    width: 0%;
    border-radius: var(--border-radius);
    transition: width 200ms ease;
}

.container-colour {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.container-colour p {
    margin: 0;
    font-size: 1.2rem;
    width: 150px;
}
.container-colour input[type=text] {
    height: 30px;
    width: 125px;
    margin-top: 2.5px;
    border-radius: 5px;
    border: 2px solid #c022ff;
}

.container-shared-sliders {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.container-meter-and-text p {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: .2rem;
}

.container-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-slider p {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1.75rem;
}
.container-slider input[type=range] {
    margin: 0;
}

#slider-size {
    width: 60% !important;
}

.container-done-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.container-done-btn button {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.6rem;
}

.container-stats > div {
    width: 100%;
}

#container-stats-canvas {
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgb(38, 215, 228);;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(38, 215, 228);;
}

#modal-leaderboard {
    justify-content: start;
    height: 80vh;
    width: 60vw;
    gap: 1rem;
    overflow-y: scroll;
}

#modal-leaderboard h2 {
    margin-top: 2.5rem;
}
#table-leaderboard {
    display: none;
}

table {
    color: rgb(38, 215, 228);
}
table, th, td {
    border: 1px solid rgb(38, 215, 228);
    border-collapse: collapse;
}
table th, table td {
    padding: .5rem;
}

.container-paginator {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.container-paginator button {
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#text-score-submit {
    display: none;
}

/*  https://www.cssportal.com/style-input-range/
    sliders
*/

:root {
    --track-bg: #2f18ff;
    --slider-brdr: #c022ff;
    --thumb-size: 22px;
    --track-height: 33px;
}

input[type=range] {
    height: var(--track-height);
    -webkit-appearance: none;
    background-color: transparent;
    margin: 10px 0;
    width: 90%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background-color: var(--track-bg);
    border-radius: 5px;
    border: 1px solid var(--slider-brdr);
}
input[type=range]::-webkit-slider-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
    border: 1px solid var(--slider-brdr);
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: var(--track-bg);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background-color: var(--track-bg);
    border-radius: 5px;
    border: 1px solid var(--slider-brdr);
}
input[type=range]::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background-color: var(--track-bg);
    border: 1px solid var(--slider-brdr);
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background-color: var(--track-bg);
    border: 1px solid var(--slider-brdr);
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 25px;
    background-color: black;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background-color: var(--track-bg);
}
input[type=range]:focus::-ms-fill-upper {
    background-color: var(--track-bg);
}
